<template name="home">
  <div class="col-md-3">
    <h1 class="text-center">registered scouts</h1>
    <ul>
      {{#each list_users}}
      <li>{{username}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-md-3">
    <h1 class="text-center">online scouts</h1>
    <ul>
      {{#each list_online_users}}
      <li>{{username}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-6">      
    {{#if currentUser}} 
    <h1>Welcome, {{currentUser.username}}!</h1>
    {{else}}
      {{> atForm state="signUp"}}
    {{/if}}
  </div>

</template>
