<template name="signup">
  <h1>Sign up</h1>

  <form class="register">
    <p><input type="text" name="first-name" value="First name"/>
      <input type="text" name="last-name" value="Last name" /> </p>
    <p><input type="text" name="username" value="Username"></p>
    <p><input type="text" name="email" value="email"></p>
    <p><input type="text" name="password" value="password"></p>
    <p><input type="submit" value="signup"></p>
  </form>


</template>



<!-- <form id="login-form" action="action"> -->
<!--   <input type="email" id="login-email" /> -->
<!--   <input type="username" id="login-username" /> -->
<!--   <input type="password" id="login-password" /> -->
<!--   <input type="submit" id="login-button" value="Sign in" /> -->
<!-- </form> -->
